* {
  /* pallet */
  --dark: #081820;
  --medium: #346856;
  --light: #88c070;
  --highlight: #e0f8d0;
  background-color: var(--dark);
}

@font-face {
  font-family: 'digitaldiscomedium';
  src: url('digitaldisco-webfont.woff2') format('woff2'),
    url('digitaldisco-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

fieldset {
  font-size: calc(6px + 2vmin);
  padding: 2px;
  border: none;
  background: var(--medium);
}

.Login-Button {
  color: var(--highlight);
}

label,
input,
button {
  font-size: inherit;
  box-sizing: content-box;
  margin: 5px;
  border: none;
}

.Name {
  background: var(--medium);
  margin: 2vmin;
}

label {
  background: var(--medium);
}

button {
  background: var(--dark);
  width: 5vmax;
  color: var(--light);
  font-weight: bold;
  padding: 7px;
  font-family: 'digitaldiscomedium';
  height: 100%;
  cursor: pointer;
  border-radius: .5vmin;
}

input {
  background: var(--light);
  color: var(--dark);
  padding: 7px;
  font-family: 'digitaldiscomedium';
  border-radius: .5vmin;
}

textarea {
  background: var(--light);
  color: var(--dark);
  padding: 7px;
  font-family: 'digitaldiscomedium';
  font-size: calc(6px + 2vmin);
  border: none;
  resize: none;
  height: 90%;
  width: 90%;
  vertical-align: top;
}

pre {
  text-align: left;
  padding: 25px;
  background-color: var(--medium);
  color: var(--highlight);
  grid-row: 3;
}

img {
  object-fit: contain;
  background: none;
  image-rendering: pixelated;
  height: 100%;
}

.Alert {
  animation: Pulse 1s ease-in-out infinite;
  text-align: center;
  color: var(--highlight);
  background: none;
  position: fixed;
  height: 25vmax;
  left: 40vw;
  top: 30vh;
}

.Timer {
  background: var(--dark);
  padding: .75vmin;
  margin: 1vmin;
  border-radius: 1vmin;
  border-style: dotted;
}

@keyframes Pulse {
  0% {
    opacity: 0.75;
    font-size: calc(5px + 2vmin);
  }

  50% {
    opacity: 1.0;
    font-size: calc(5px + 2.1vmin);
  }

  100% {
    opacity: 0.75;
    font-size: calc(5px + 2vmin);
  }
}

.App {
  font-family: 'digitaldiscomedium';
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--light);

  width: 100vmin;
  margin: 0 auto;
  margin-top: 0
}

.Grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 5fr 5fr 3fr;
}

.Header {
  background-color: var(--medium);
  grid-row: 1;
}

.Opponent {
  background-color: var(--medium);
  color: var(--dark);
  grid-row: 2;
}

.Medium {
  background-color: var(--medium);
  text-align: left;
  padding-left: 5vmin;
}

.Player {
  background-color: var(--medium);
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Controls {
  background-color: var(--medium);
  grid-row: 4;
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.Control {
  background-color: var(--dark);
  color: var(--highlight);
  cursor: pointer;
  margin: 5px;
  border-radius: 1vmin;
  -webkit-tap-highlight-color: transparent;
}

.Control-Contents {
  display: table;
  height: 100%;
  width: 100%;
  background: none;
}

.Control-Text {
  display: table-cell;
  vertical-align: middle;
  font-size: calc(10px + 4vmin);
  background: none;
  user-select: none;
}

.Score {
  background: var(--medium);
}

.Disabled {
  background: var(--medium);
  color: var(--light);
}

.Selected {
  background: var(--light);
  color: var(--medium);
}